*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
.container{
    height: 100vh;
    aspect-ratio: 9 / 16;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.hole:active{
    background-color: grey;
}
.hole{
}