*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.button-container{
    margin: auto;
    height: calc((100vh * 4/16) - 10px);
    aspect-ratio: 9.4 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
button{
    display: block;
    border: none;
    font-size: 10vh;
    border-radius: 200px;
    height: 90%;
    width: 90%;
    padding: 20px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    color: black;
    margin: auto;
}
.container{
    height: calc(100vh * (12/16));
    aspect-ratio: 9 / 12;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.tile{
    height: 95%;
    aspect-ratio: 1;
    border-radius: 50%;
}
h1{
    color: white;
    position: absolute;
    top: -4vh;
    font-size: 4vh;
    left: 50%;
    transform: translateX(-50%);
}
.tile:focus{
    box-shadow: inset 0 0 white;
}